{% extends "global/Page.html" %}
{% load otree %}


{% block content %}

<div class="card bg-light instructions">
<div class="card-body">

<h4>
        How Game 2 Works:
</h4>

<p>
        You will be paired randomly and anonymously with another participant.
        Similar to Game 1, one of you will be Participant 1 and the other
        Participant 2. Prior to making a decision, you will learn your role,
        which will be randomly assigned. In this version of the game, Participant 1
        will get to choose between 2 different income splits. <strong> Choice 1 </strong> is an even
        (50, 50) income split where both participants get 50 points and <strong> Choice 2 </strong>
        is an uneven (75, 150) where both participants receive a higher split, but Participant 2
        gets 75 points more.

</p>

<h4>
        Points and Payoffs:
</h4>

<p>
         The total amount of points you earn is in this game is equal to your income from
         Participant 1’s decision.

</p>

</div>
</div>

{% endblock %}

