{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Introduction{% endblock %}


{% block content %}
<p>
    This experiment involves a series of games where you will be paired with an anonymous partner and asked to
    make decisions about splitting income. There are two games that each participant will play, each time with a
    different anonymous partner. Each game should take roughly 3 minutes but there is no time limit, so please take
    as long as you need to make any relevant decisions. The instructions for each game will appear on the screen
    before each game starts, <strong> please read them carefully before starting. Note also that there
    are no simultaneous decisions with your partner, so you don't need to play the game at the same time as your
    partner.</strong>
</p>


<p>
    In this experiment, you have the chance to win one of three Amazon gift cards ($50, $25, $25). There are 100
    other participants in the study, all of whom have their own anonymous partners. You earn points through decisions
    made in each game. The more points you earn, the higher chance you have of winning the gift cards. Think of it
    this way - if you earn 300 points over the course of both games, then you get 300 ‘names in the hat’.
</p>

<p>
Good luck!
</p>

{% next_button %}
{% endblock %}
